.container {
  height: 100vh;
  background: #082032;
}

.textBox, .svgBox {
  width: 50%;
}
.textBox {
  color: white;
}
.svgBox {
  position: relative;
}

.inner {
  display: flex;
  height: 100%;
}

.img {
  height: 100%;
  position: absolute;
  right: 0;
  width: 120%;
}