html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #082032;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.container1 {
  height: 100vh;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #fe9d9d;
}

h1 {
  font-size: 2rem;
  /* font-weight: 900; */
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.05rem;
}

/* Global post styles */
.grid {
  display: grid;
  grid-template-columns: 10% auto;
}

.item1 {
  display: grid;
}

.meta {
  align-items: center;
  font-size: 0.9rem;
}

.time {
  color: #ffb8b8;
}

.dot {
  background: #c2ced7;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.arrow-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
}

.arrow-nav > div {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.arrow-nav img {
  width: 20px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 1rem;
}

.post-outer {
  padding: 0rem 1.5rem;
}
