/* --------------------
-->  TYPOGRAPHY
------------------ */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #082032;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #fe9d9d;
}

h1 {
  font-size: 2.5rem;
  margin: 1.5em 0 0 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1.5em 0 0 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5em 0 0 0;
}

h4 {
  font-size: 1 rem;
}

p {
  font-size: 1.05rem;
}

blockquote {
  margin: 2em 0;
  font-style: italic;
  position: relative;
}

blockquote:before {
  content: " ";
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 0.3rem;
  background: #fe9d9d;
}

.hr {
  height: 0.05rem;
  background-color: white;
  opacity: 0.6;
}

.h2,
.h2 h2 {
  margin: 0;
  text-decoration: none;
}

.small-page-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.small-page-title h4 {
  grid-column: 1 / span 3;
}

.small-page-title .hr {
  grid-column: 4 / span 12;
}

.large-page-title {
  font-size: 2.5rem;
}

/* ------------------
--> INTRO PAGE
----------------------- */
.intro .col-1 {
  grid-column: 2 /12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.intro .col-2 {
  grid-column: 12 / span 24;
  position: relative;
}

.intro .col-2 img {
  object-fit: cover;
  position: absolute;
  height: 85%;
  width: 110%;
  right: -3rem;
}

/* ----------------------------------
---> PROFILE PAGE
------------------------------------ */
.profile .col-1 {
  grid-column: 2 / 12;
}

.profile .col-2 {
  grid-column: 18 / span 24;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 22fr;
}

.profile .col-2 img {
  grid-column: 2;
  height: 100%;
  width: 100%;
}

/* ------------------------------------
-->  GLOBAL POSTS & PAGE STYLES
-------------------------------------- */
/*   1. LAYOUT-GRID */

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.layout-col-1 {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-col-2 {
  grid-column: 2 / span 12;
  max-width: 2000px;
  margin: auto;
}

.full-vh {
  height: 115vh;
  overflow: hidden;
  display: grid;
}

.inner-section {
  display: grid;
  grid-template-columns:
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*  2. EXCERPT GRID  */
.excerpt-grid {
  grid-template-rows: 1fr 22fr 1fr;
}

.excerpt-grid .col-1 {
  grid-column: 2 / 15;
  grid-row: 2;
}

.excerpt-grid .col-2 {
  grid-column: 16 / 23;
  grid-row: 2;
}

.excerpt {
  margin-bottom: 2em;
}

.meta {
  align-items: center;
  font-size: 0.9rem;
}

._link {
  margin-top: 2em;
}

.time {
  color: #ffb8b8;
}

.dot {
  background: #c2ced7;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin: 0 1rem;
}

/* ---------------------------
---> SINGLE POST STYLES
------------------------------- */
.post-outer {
  /* padding: 0rem 1.5rem; */
  grid-template-rows: 1fr auto;
}

.post-header {
  grid-column: 4 / span 20;
  grid-row: 1;
}

.post-content {
  grid-row: 2;
  grid-column: 1 / span 24;
}

.post-content p,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content ul,
.post-content ol,
.post-content pre,
.post-content .kg-bookmark-card,
.post-content .kg-gallery-card,
.post-content blockquote {
  grid-column: 4 / 20;
}

.post-content .kg-image-card {
  grid-column: 2 / 22;
}

/* --------------------------
 ---> CODE BLOCK
---------------------------- */
pre {
  background: #0e1013;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: 2em 0;
  overflow-x: scroll;
}

/* ---------- BOOKMARK  ------------------ */

.kg-bookmark-container {
  text-decoration: none;
  display: grid;
  border: 0.05rem solid #c2ced769;
  border-radius: 5px;
  grid-template-columns: 60% 5% 35%;
  padding: 2px;
}

.kg-bookmark-title {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.kg-bookmark-content {
  padding: 1rem;
}

.kg-bookmark-description {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.kg-bookmark-thumbnail {
  position: relative;
  grid-column: 3;
}

.kg-bookmark-metadata {
  display: grid;
  grid-template-columns: 6% auto;
  grid-column-gap: 3%;
  align-items: center;
}

.kg-bookmark-thumbnail img,
.kg-bookmark-icon {
  width: 100%;
  height: 100%;
}

.kg-bookmark-publisher {
  font-size: 0.9rem;
  font-weight: 600;
}

/* --------- POST IMAGES ------------ */
.kg-card {
  position: relative;
  width: 100%;
  margin: 3em 0;
}

.kg-image,
.kg-gallery-image img {
  width: 100%;
  height: 100%;
}

/* -------------------
---> NAVIGATION
-------------------- */
.arrow-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
}

.arrow-nav > div {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.arrow-nav img {
  width: 20px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 1rem;
}

/* -------------------------------
---> MEDIA QUERIES
---------------------------------- */
@media only screen and (max-width: 680px) {
  .layout-col-1 {
    display: none;
  }

  .layout-col-2 {
    grid-column: 1 / span 24;
  }

  .intro .col-1 {
    grid-column: 2 / span 24;
  }

  .intro .col-2 {
    display: none;
  }

  .profile .col-1 {
    grid-column: 2 / 24;
    padding-bottom: 3rem;
  }

  .profile .col-2 {
    display: none;
  }

  .excerpt-grid {
    grid-template-rows: auto auto;
  }

  .excerpt-grid .col-1 {
    grid-row: 1;
    grid-column: 2 / 24;
    padding-bottom: 3rem;
  }

  .excerpt-grid .col-2 {
    grid-row: 2;
    grid-column: 2 / 24;
    padding-bottom: 3rem;
  }

  .post-outer {
    padding-bottom: 5rem;
  }

  .post-header {
    grid-column: 2 / 24;
  }

  .post-content p,
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content ul,
  .post-content ol,
  .post-content pre,
  .post-content .kg-bookmark-card,
  .post-content .kg-gallery-card,
  .post-content blockquote {
    grid-column: 2 / 24;
  }

  .post-content .kg-image-card {
    grid-column: 2 / 24;
  }

  .intro h1 {
    font-size: 3.3125rem;
  }
}

@media only screen and (min-width: 680px) {
  .layout-col-1 {
    display: none;
  }

  .layout-col-2 {
    grid-column: 1 / span 24;
  }

  .intro h4 {
    font-size: 1rem;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro h3 {
    font-size: 1.2rem;
  }
  
  .intro .col-2 {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .intro .col-2 img {
    max-height: 500px;
  }

  .full-vh {
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .layout-col-1 {
    display: flex;
  }

  .layout-col-2 {
    grid-column: 2 / span 12;
  }

  .intro .col-1 {
    grid-column: 2 / 12;
  }

  .full-vh {
    height: auto;
  }

  .intro .col-2 img {
    max-height: 585px;
  }
}

@media only screen and (min-width: 900px) {
  .intro .col-2 img {
    max-height: 660px;
  }

  .intro h1 {
    font-size: 2.4rem;
  }

  .large-page-title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .intro .col-2 img {
    width: 115%;
    max-height: 730px;
  }

  .intro h1 {
    font-size: 2.8rem;
  }
  .full-vh {
    height: 100vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  .intro h1 {
    font-size: 3.3rem;
  }

  .intro h4 {
    font-size: 1.25rem;
  }

  .intro h3 {
    font-size: 1.875rem;
  }

  .full-vh {
    height: 100vh;
  }

  .intro .col-2 img {
    max-height: 1000px;
  }
}


@media only screen and (min-width: 2000px) {
  .intro h1 {
    font-size: 3.3125rem;
  }

  .intro .col-2 img {
      max-height: 1500px;
  }
}