html,
body {
  padding: 0;
  margin: 0;
  font-family: "Popins", sans-serif;
  color: white;
  background: #082032;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.container1 {
  height: 100vh;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #FE9D9D;
}


h1 {
  font-size: 2rem;
  /* font-weight: 900; */
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.05rem;
}


/* Global post styles */

.post-outer {
  padding: 1rem 2rem;
}